<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}
  
  <body>
	   <nav><ul style="
    list-style: none;
    padding-left: 0;
">
					<li><a href="/">Home</a></li>
		   <li><a href="/newsletter/">Newsletter</a></li>
					<li><a href="/archive/">Archive</a></li>
					<li><a href="/now/">Now</a></li>
					<li><a href="/contact/">Contact</a></li>
				</ul></nav>  <br>
	  
<section id="masthead">
<h1><a href="/" title="Deryk Makgill">Deryk Makgill's Commonplace Book</a></h1>

<p>My digital scrapbook of things that catch my mind or my eye. An alternative to Tumblr.</p>
</section>
<div id="content">
  
  
   {{ content }}
  
  
</div>
    <br><br>
   <nav><ul style="
    list-style: none;
    padding-left: 0;
">	<li><a href="/">Home</a></li>
	      <li><a href="/newsletter/">Newsletter</a></li>
					<li><a href="/archive/">Archive</a></li>
	   
					<li><a href="/now/">Now</a></li>
					<li><a href="/contact/">Contact</a></li>
	   
				</ul></nav>
</body>
</html>
